@use '../utilities/variables' as *;

.overlay {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        &.fade-in {
            display: block;
            background-image: linear-gradient($darkBlue, transparent);
        }
        &.fade-out {
            display: block;
            background-image: linear-gradient($darkBlue, transparent);

        }
    }