@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/img' as *;

.hero {
    background-color: $veryLightGray;
    .container {
        @include breakpoint-up(large) {
            display: flex;
            align-items: center;
        }
    }

    &__image {
        position: relative;
        background-image: url($hero-img-background);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
        @include breakpoint-up(medium) {
            min-height: 25rem;
            background-position: center 60%;
        }

        @include breakpoint-up(large) {
            flex: 3;
            order: 2;
            height: 41rem;
            background-image: none;
        }

        &::before {    
            @include breakpoint-up(large) {
                content: "";
                position: absolute;
                height: 100%;
                background-image: url($hero-img-background);
                background-repeat: no-repeat;
                background-position: center bottom;
                width: 150%;
                background-size: 122%;
                background-position: 0% 83%;
            }
        }
        
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url($hero-img);
            background-size: 93%;
            background-repeat: no-repeat;
            background-position: center bottom;
            @include breakpoint-up(medium) {
                background-size: 52%;
            }
            @include breakpoint-up(large) {
                width: 120%;
                height: 122%;
                background-size: 94%;
                background-position: 0% 150%;
                left: 22%;
            }
        }
    }

    &__text {
        text-align: center;
       @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            text-align: left;
        } 
    }   
}

.feature {
    background-color: $lightGrayishBlue;
    text-align: center;
    @include breakpoint-up(medium){
        text-align: left;
    }

    &__intro {
        margin-bottom: 3.75rem;
        @include breakpoint-up(large){
            width: 60%;
        }
    }
    &__grid {
        @include breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        padding: 0.9375rem;

        @include breakpoint-up(medium){
            flex: 0 0 50%;
        }
        @include breakpoint-up(large){
            flex: 1;
        }

    }

    &__icon {
        margin-bottom: 1.875rem;
        @include breakpoint-up(large){
            margin-bottom: 2.75rem;
        }

    }

    &__title {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.15;
        color: $darkBlue;
        margin-bottom: 1rem;
        @include breakpoint-up(large){
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }

    &__description {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }
}

.attribution {
    p {
        font-size: 1rem;
        color: gray;
        a {color: black;}
    }
}

.articles {
    background-color: $veryLightGray;
}

.article {

    &__grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.875rem;
        @include breakpoint-up(medium){
            grid-template-columns: 1fr 1fr;
        }
        @include breakpoint-up(large){
            grid-template-columns: 1fr 1fr 1fr 1fr // instead of repeat(4, 1fr) for ms compatiblity
        }
    }

    &__item{
        border-radius: 0.3125rem;
        overflow: hidden;
        background-color: $white;
        box-shadow: 0px 3px 12px rgba($color: #000000, $alpha: 0.1);
        transition: all 300ms ease-in-out;
        &:hover{
            transform: scale(1.05)
        }
    } 

    &__image{
        height: 12.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__text{
        padding: 1.875rem 1.875rem 2.5rem 1.875rem;
        color: $grayishBlue;
        @include breakpoint-up(medium){
            padding: 1.875rem 1.5625rem;
        }
    }

    &__author{
        font-size: 0.625rem;
        margin-bottom: 0.75rem;
    }

    &__title{
        font-size: 1.0625rem;
        line-height: 1.2rem;
        color: $darkBlue;
        margin-bottom: 0.5rem;
    }

    &__description{
        font-size: 0.8125rem;
    }
}